@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf"); 
}

body{
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}

div#interface {
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 10px;
}

p {	text-align: justify;
	text-indent: 50px;
}

header#cabecalho img#icone {
	position: absolute;
	left: 780px;
	top: 70px;
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
	
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 0px;
	margin-bottom: 0px;

}

header#cabecalho h2{
	font-family: 'Bubbler One', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}


/* Formatação de imagens com legenda */

figure.foto-legenda {
	position: relative; /* Legenda fica mesma posição do código */
	border: 8px solid white;
	box-shadow: 5px, 5px, 9px black;

}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}


figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4); /*Plano de fundo preto com transparencia*/
	color: white; /*Letra branca*/
	width: 100%; /*Ocupa todo todo o espaço da imagem*/
	height: 100%;
	transition: opacity 1s;
	padding: 4px; /*Espaço dentro da legenda*/
    box-sizing: border-box; /* Cria um box dentro da borda*/


}

figure.foto-legenda:hover figcaption{
	opacity: 1;

}
/*Formatação do Menu*/

nav#menu {
	display: block;

}


nav#menu ul {
    list-style: none; /*Retirar marcadores de lista*/
    text-transform: uppercase; /*Transforma em caixa alta*/
    position: absolute; /*Posição absoluta dentro do site (relativa fica presa dentro do Nav)*/
    top: -20px;
    left: 300px;  
}
nav#menu li{
    display: inline-block; /*Ajustar lado a lado*/
    background-color:#dddddd; /*Cor cinza no fundo*/
    padding: 10px; /*Aumenta margem interna do background, dentro do objeto*/
    margin: 2px; /*Espaço entre os botões, fora do objeto*/
	-webkit-transition: background-color 1s; /*Equivalente para o Safari 5, Chrome e Opera 12*/
    -moz-transition: background-color 1s;/*Equivalente para o firefox 4*/
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s; /*Equivalente para o Opera 11.5*/
     transition: background-color 1s; /*Trnasição da cor ao passar o mouse*/

}

 nav#menu li:hover{ /*hover é para uma ação que é executada ao passar o mouse por cima do objeto*/
	 background-color: #606060;
 }

nav#menu h1{
    display: none;
    
}

nav#menu a {
	color: #000000;
	text-decoration: none;

}

nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

section#corpo {
	display: block;
	width: 520px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}
table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td{ /* Linha*/
	border: 1px solid #606060;
	padding: 10px;
	text-align: right;
	vertical-align: middle; /*Middle alinha ao meio e bottom alinha para baixo*/ 
}

table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	vertical-align: top; /*Orientação para o topo*/
	font-weight: bold;

}

table#tabelaspec td.cd{
	background-color: #cecece;	
}

table#tabelaspec caption{
	color: #888888;
	font-size: 13pt;
	font-weight: bolder; /*Intensidade do Negrito*/
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8px;
	margin-top: 10px;
	
}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center; 
}

footer#rodape a{
	text-decoration: none;
	color: #606060;
}